# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ignore files inside assest
src/assets/google/material-icons/**/*
src/assets/google/youtube/**/*
src/assets/google/youtube-music/**/*

src/assets/instagram/icons/**/*
src/assets/instagram/stories/**/*

src/assets/spotify/brand/**/*
src/assets/spotify/icons/**/*

src/assets/image-001.jpg
src/assets/image-002.jpg
